@media (max-width:68rem) {
  html {
    font-size: 0.8rem;
  }
}

@media (max-width:49rem) {

  .bayan__title {
    font-size: 2.5rem;
  }

  .bayan__subtitle {
    font-size: 1.5rem;
  }
}

@media (max-width:25rem) {
  html {
    font-size: 0.6rem;
  }
}