/* General style */
* {
  box-sizing: border-box;
}

html {
  font-size: 1rem;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  line-height: 1;
}

.wrapper {
  display: flex;
  flex-direction: column;
  background-image: url('../assets/img/bg.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.container {
  max-width: 85%;
  margin: 0 auto;
}

/* Bayan */

.bayan {
  flex: 1 0 auto;
}

.bayan__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bayan__title {
  padding: 2rem 2rem 1rem;
  font-size: 3.5rem;
  text-align: center;
  color: rgb(255,
      254,
      240);
}

.bayan__subtitle {
  padding: 1rem 1.5rem 1.5rem;
  font-size: 2.5rem;
  text-align: center;
  color: rgb(235, 223, 60);
}

.bayan__list {
  max-width: 95%;
  margin: 0 auto 3rem;
  padding: 1.5rem;
  background-color: rgba(255, 255, 255, 0.3);
}

.bayan__item {
  max-width: 95%;
  list-style: none;
  margin: 0 auto 1rem;
  padding: 1.5rem;
  background-color: rgb(255,
      254,
      240);
  cursor: pointer;
}

.bayan__input {
  display: none;
}

.bayan__label {
  display: block;
}

.bayan__name {
  display: flex;
  justify-content: space-between;
}

.bayan__pic-title {
  font-size: 1.2rem;
  font-weight: 900;
  color: rgb(140, 144, 160);
}

.bayan__point {
  display: block;
  width: 1rem;
  background: url('../assets/img/plus.png') no-repeat;
  background-size: 1rem;
  opacity: 1;
  transition: all 0.5s ease-in-out;
}



.bayan__content {
  max-height: 0;
  overflow: hidden;
  transition: all 1s ease-in;
  opacity: 0;
}

.bayan__img {
  display: block;
  margin: 0 auto;
  width: 81%;
}

.bayan__input:checked~.bayan__content {
  max-height: 100vh;
  padding: 1rem 0;
  opacity: 1;
  transition: all 1s ease-in;
}

.bayan__input:checked~.bayan__name>.bayan__pic-title {
  color: #000;
}

.bayan__list:hover .bayan__pic-title {
  color: #000;
}

/* Footer */
.footer {
  flex: 0 0 auto;
}

.footer_content {
  width: 0.1rem;
  height: 0.1rem;
  background: transparent;
}